# vim ft=snippets

snippet license "Insert author and license sections" b
## Author

© `!v strftime("%Y")` `!v g:snips_author` <`!v g:snips_author_email`>

## License

Released under the [MIT License](`!v g:snips_license_mit_url`).
endsnippet
